@model WebTestITDevelopment.Models.ProjectOfTaskViewModel
    

@{
    ViewData["Title"] = "Your tasks";
}

<p>
    <a asp-action="Create">Create New Task</a>
</p>

<form asp-controller="TaskList" asp-action="Index" method="get">
    <p>
        <select asp-for="ProjectOfTask" asp-items="Model.Project">
            <option value="">All</option>
        </select>

        Searsh: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskList[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskList[0].NameProject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskList[0].Times)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskList[0].StartTimes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskList[0].EndTimes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskList[0].NameTask)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskList[0].Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskList[0].DataCreate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TaskList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameProject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Times)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTimes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTimes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameTask)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCreate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
